__pycache__/DarwinAlgo.cpython-311.pyc
__pycache__/GeneticAlgo.cpython-311.pyc
__pycache__/LamarckAlgo.cpython-311.pyc
report.md
__pycache__/DarwinAlgo.cpython-39.pyc
__pycache__/DarwinAlgo.cpython-39.pyc
__pycache__/GeneticAlgo.cpython-39.pyc
__pycache__/LamarckAlgo.cpython-39.pyc
